/* Fresh Start CSS */

.headercontainer{
  background:#fff;
  height:100px;
  left:0;
  position:fixed;
  width:100%;
  top:33px;
  opacity: 0.7;
}

.headercontent{
  background:#fff;
  font-size: 10px;
  left: 80px;
  position:fixed;
  width:200px;
  height:50px;
  top:45px;
  padding: 3px;
  margin-left: 5px;

}


.picture{
  margin-left: 10px;
  background: #fff;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  margin-top: 15px;
}

.location{
  position: fixed;
  padding-left: 5px;
  height: 28px;
  top: 310px;
  border: 2px solid red;
}

.settings{
  position: fixed;
  padding-left: 5px;
  height: 28px;
  top: 340px;
  border: 2px solid red;
}

.footer{
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: -5px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}

.footernav{
  height: 45px;
}
