
.backgroundmap{
  background-image: url(../backgroundmap.png);
  background-repeat: no-repeat;
  position: fixed;
  background-position: -1350px;
  height: 3%;
}

.background{
  background-color: #7F7E7D;
}

.tabs dd, .tabs .tab-title {
  display:block;
  position: fixed;
  margin: auto;
  margin-bottom: 0 !important;
  list-style: none;
}

.tabicon{

}

.camera-control{
  display:block;
  margin: auto;
  positon: absolute;
  z-index: 2;
  
}

.location{
  position: fixed;
  padding-left: 10px;
  height: 25px;
  top: 350px;
  border: 2px solid red;
}

.settings{
  position: fixed;
  padding-left: 10px;
  height: 25px;
  top: 380px;
  border: 2px solid red;
}



.footer{
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: -5px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}

.footernav{
  height: 45px;
}

#map-canvas{
  height: 400px;
  width: 100%;
  border: 1px solid black;
}

.profpic{
  width: 40px;
  height: 40px;
  background: white;
  border: 2px solid black;
  padding-left: 20px;
}

.feedbackgrd{
  background: white;
  opacity: 0.7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
}

.popularimg{
  width: 40px;
  height: 40px;
  background: white;
  border: 2px solid black;
  margin: 10px;
}