/* Fresh Start CSS */


@font-family{
  font-family: bebasneue;
  src: url(fonts/BebasNeue.otf)
}

.header{
    height: 65px;
    line-height: 50px;
    color: #aaa;
    background-color: #381E29;
    padding-top: 15px;
}

.logo{
  width: 80%;
  padding-bottom: 5px;
}

.home{
  padding-top: 10px;
  padding-left: 7px;
  width: 32px;
}

.settings{
  padding-top: 10px;
  padding-right: 7px;
  width: 32px;
}

body{
 background-color: #381E29;
}

.uploadtext{
  color: white;
}

.labelfont{
  color: white;
}

label{
  color: white;
}

a{
  text-decoration: none;
}

a:visited{
  color: inherit;
}

.footer{
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: -5px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}

a.camera-control{
  color: white;
  text-align:center;
}

button.camera-control{
  background-color: #381E29;
  font-family: bebasneue;
  font-size: 25px;
  display: block;
  margin: auto;
}

a.button{
  color: white;
  text-align:center;
}

button.button{
  background-color: #381E29;
  font-family: bebasneue;
  font-size: 25px;
  display: block;
  margin: auto;
}

input#submitEventBtn.btn.btn-block.btn-primary{
  color: white;
  background: none;
  display: block;
  margin: auto;
  font-family: bebasneue;
  font-size: 25px;
  border: none;
}

.image{
  max-height: 250px;
  max-width: 250px;
}